@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  min-height: 100dvh;
  width: 100vw;
  /* overflow: hidden; */
  overscroll-behavior: none;
  position: fixed;
  inset: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @apply min-h-dvh;
}

* {
  touch-action: manipulation;
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 1px;
  }
  .font-outline-2 {
    -webkit-text-stroke: 2px;
  }
  .font-outline-3 {
    -webkit-text-stroke: 3px;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px;
  }
  .font-outline-8 {
    -webkit-text-stroke: 8px;
  }
}
